
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@font-face{
  font-family:EoFont;
  src:url('/fonts/Eofont-R.otf') format("opentype")
}
@font-face{
  font-family:Koku-Mincho;
  src:url('https://cdn.leafscape.be/IPAexfont/ipaexm_web.woff2') format("truetype")
}

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

